.tab-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: rgb(93, 0, 255);
}

.nav {
    --bs-nav-link-color: rgb(93, 0, 255);
}

.btn-info {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: rgb(93, 0, 255);
    --bs-btn-border-color: rgb(93, 0, 255);
}